{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update_photo.css'%}">
<div class="main-content">
    <div class="heading">Change Password</div>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <div class="buttons">
            <div class="button">
                <a href="{% url 'home'%}"><input type="button" name="Back" , value="Back"></a>
            </div>
            <div class="button">
                <input type="submit" name="Change" , value="Change">
            </div>
        </div>
    </form>
</div>